/* RESET DAS CONFIGURAÇÔES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.index {
    background-color: rgb(187, 242, 242);
    font-family: Arial;
}


.segunda-pagina {
    background-color: rgb(135, 245, 236);
}

.terceira-pagina {
    background-image: url(assets/logo4.avif);
}
h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 30px 70px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100px;
    margin: 10px auto;
}

button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 20px;
}

ol {
    padding: 30px auto;
    text-align: center;
    list-style-position: inside;
}

li {
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    padding: 25px;
}

.tit.Terceira-pagina {
    padding: 10px;
    margin: auto;
    
}